.projects-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--color-background);
    color: var(--color-primary);
    overflow-y: scroll;
}

.projects-content {
    margin-top: 20px;
    padding-top: 20px;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;

    margin-bottom: 40px;
    flex-grow: 1;
}
.footer {
    margin-top: 20px;
}

@media only screen and (max-width: 595px) {
    .projects-container {
        overflow-y: scroll;
        height: fit-content;
    }
    .projects-content {
        margin-bottom: 20px;
    }
}
